.demo {
    background-color: #efefef;
}

.header-frame {
    border-style: none;
    width: 100%;
}

.welcome-frame {
    overflow: hidden;
    height: 650px;
    width: 100%;
}

.event-partner-frame {
    overflow: hidden;
    height: 250px;
    width: 100%;
}

.footer-frame {
    overflow: hidden;
    height: 300px;
    width: 100%;

}

@media screen and (max-width: 800px) {
    .header-frame {
        height: 300px;
    }

    .welcome-frame {
        height: 750px;
    }

    .event-partner-frame {
        height: 300px;
    }
}

@media screen and (max-width: 570px) {
    .header-frame {
        height: 300px;
    }

    .welcome-frame {
        height: 750px;
    }

    .event-partner-frame {
        height: 300px;
    }
}