body {
    background-color: #efefef !important;
}

.header-section {
    margin-top: 15px;
}

.header-img {
    width: 65px;
    height: 65px;
    vertical-align: middle;
}

.header-title {
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #000000;
    font-family: "Century Gothic";
    font-weight: bold;
    vertical-align: middle;
}

.header-right {
    float: right;
    display: inline-flex;
    vertical-align: middle;
    transform: translateY(10px);
}

.flag-section {
    transform: translateY(10%);
}

.search-section {
    border-radius: 5px;
    border: 1px solid #cfcdc5;
}

.search-btn {
    border-left: none;
    background-image: linear-gradient(0deg, #f3f3f1 0%, #ffffff 100%);
}

.search-field {
    border: none !important;
    background: linear-gradient(0deg, #f3f3f1 0%, #ffffff 100%);
}

.vertical-line-icon {
    min-height: calc(1.5em + .75rem - 5px);
}

.flag-icon {
    min-height: calc(1.5em + .75rem - 10px);
}

.nagivation-section {
    margin-top: 20px;
    overflow: hidden;
    background-image: url("./../img/navigation-background.svg");
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}

.nagivation-section nav {
    transform: translateY(50%);
}

.nagivation-section a {
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    font-family: "Century Gothic";
    font-weight: bold;
}

/*css for tablet*/
@media screen and (max-width: 800px) {
    .header-frame {
        height: 300px;
    }

    .nagivation-section nav {
        transform: none;
    }

    .nagivation-section {
        height: auto;
    }
}